@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* 添加调整大小的图片样式 */
.resizable-image {
    position: relative;
    display: inline-block;
}

/* 调整大小的控制点 */
.resize-handle {
    width: 16px;
    height: 16px;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    right: 0;
    bottom: 0;
    cursor: se-resize;
}
